body {
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #414141;
    z-index: 200;
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    position: absolute;
    left: 4rem;
    height: 4rem;
    width: auto;
    z-index: 10000000;
    transition: transform 0.3s ease; 
}

.logo:hover {
    transform: scale(1.1);
}

.social-icons {
    font-size: 1.5rem;
    flex-direction: column;
    position: fixed; 
    right: 1rem; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 2000;
    display: flex; 
    gap: 1.5rem; 
}

.social-icons a {
    color: #F9ED32;
    transition: transform 0.3s ease; 
}

.social-icons a:hover {
    transform: scale(1.2); 
}

.navbar {
    background-color: #333;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    right: 3rem;
    top: 0.35rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:3rem;

}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    color: #F9ED32;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: #F9ED32;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content-container {
    max-width: 1200px;
    margin: 7rem auto;
    padding: 0 1rem;
}

.comparison-section h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.tablink {
    background-color: #eaeaea;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.tablink:hover {
    background-color: #ccc;
    color: #333;
}

.tablink.active {
    background-color: #333;
    color: #F9ED32;
}

.tabcontent {
    display: none;
}

.comparison-card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.comparison-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #414141;
}

.specification {
    text-align: left;
}

.specification p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #555;
}

.footer-container {
    background-color: #414141;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 12rem;
    font-size: 1rem;
}

.footer-section {
    flex: 1;
    margin-right: 12rem;
}

.footer-section h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.footer-section ul {
    list-style: none;
    padding-left: 2rem;
    font-family: 'Poppins', sans-serif;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: #F9ED32;
    text-decoration: none;
    transition: background-color 0.3s;
}

.footer-section ul li a:hover {
    text-decoration: none;
    background-color: #333;
    padding: 0.5rem 1rem;
}

.social-icons-footer {
    display: flex;
    gap: 2rem;
    padding-left:2.5rem;
}

.social-icons-footer a {
    color: #F9ED32;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.social-icons-footer a:hover {
    transform:scale(1.2);
}

@media (max-width: 768px) {
    .comparison-section h1 {
        font-size: 1.5rem;
    }

    .tablink {
        font-size: 0.8rem;
        padding: 8px 15px;
        margin: 0 2px;
    }

    .comparison-card {
        padding: 1rem;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .dropdown-content {
        position: relative;
    }
}
